.goldContainer {
    position: absolute;
    top: 125px;
    left: 40%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffd700;
    padding: 10px;
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}