.xpContainer {
    position: absolute;
    top: 125px;
    left: 59.65%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #50ff50;
    padding: 10px;
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(80, 255, 80, 0.5);
}